main {
    &.job-result {
        max-width: 100%;

        .kmeans-visu {
            width: 100%;
            display: flex;

            .kmeans-chart {
                flex-basis: 50%;
            }
        }

        .document-list {
            width: 100%;
        }
    }
}
